<p>{{ __ "Gitter is available in all modern browsers as well as apps for desktops and mobile phones."}}</p>

<p>
  <a class="btn outline" href="https://update.gitter.im/osx/latest" id="osx-download"><i class="icon-apple"></i>{{ __ "Mac"}}</a>
 <a class="btn outline" href="https://update.gitter.im/win/latest" id="windows-download"><i class="icon-windows"></i>{{ __ "Windows" }}</a>
 <a class="btn outline" href="https://update.gitter.im/linux32/latest"><i class="icon-linux"></i>{{ __ "Linux 32" }}</a>
 <a class="btn outline" href="https://update.gitter.im/linux64/latest"><i class="icon-linux"></i>{{ __ "Linux 64" }}</a>

  <br />
  <small>Mac users on 10.9 or lower, <a href="https://s3.amazonaws.com/update.gitter.im/osx/Gitter-1.162.dmg">download here</a>.</small>
</p>
<p>
  <a class="btn outline" href="https://appstore.com/gitter" target="_blank"><i class="icon-apple"></i>{{ __ "iPhone" }}</a>
  <a class="btn outline" href="https://play.google.com/store/apps/details?id=im.gitter.gitter" target="_blank"><i class="icon-android"></i>{{ __ "Android" }}</a>

  <br />
  <small>We also have a sweet little <a href="https://irc.gitter.im" target="_blank">IRC bridge</a>.</small>
</p>

<p>
    {{{ __ "Our efforts are focused on the <a %s>webapp</a> which is the backbone of the mobile/desktop apps but mainly focused on the web experience. There are a number of bugs in these desktop/mobile clients and they spread the Gitter team too thin for us to give them proper attention. The apps are open-source if you want to tackle something particularly annoying to you." "href='https://gitlab.com/gitlab-org/gitter/webapp' target='_blank'" }}}
(<a href="https://gitlab.com/gitlab-org/gitter/desktop/">{{ __ "desktop" }}</a>, <a href="https://gitlab.com/gitlab-org/gitter/gitter-ios-app">{{ __ "iOS" }}</a>, <a href="https://gitlab.com/gitlab-org/gitter/gitter-android-app">{{ __ "Android" }}</a>)
</p>
